p1
{
	font-size:  250%;
}
p2
{
	padding: 40px;
	text-align: center;
	font-size:  5000%;
	color:saddlebrown;
}
p3
{
	padding: 40px;
	text-align: center;
	font-size:  5000%;
	color:goldenrod;
}
button1
{
	font-size:  500%;
	color:firebrick;
}
button2
{
	font-size:  500%;
	color:goldenrod;
}
button3
{
	font-size:  500%;
	color:firebrick;
}